*~
\#*

dist/
node_modules/
bower_components/

app/*.js
app/*/*.js
!Gruntfile.js

Thumb.db
.DS_Store
*.js.map
DefinitelyTyped
assets/vendor
assets/app/pdfjs
assets/app/tiff
assets/app/unrarlib
assets/app/jquery-mobile

tmp/
