<div id="header"
     data-role="header"
     data-position="fixed"
     data-tap-toggle="false"
     data-fullscreen="true"
     tabindex="1"></div>
<div data-role="content" id="content" tabindex="2"></div>
<div id="footer"
     data-role="footer"
     data-position="fixed"
     data-tap-toggle="false"
     data-fullscreen="true"
     tabindex="3"></div>
<div id="error-dialog-holder"></div>
<div id="info-dialog-holder"></div>
<div id="progress-dialog-holder"></div>
<div id="setting-dialog-holder"></div>
