{{#if opened}}
<label for="page-slider">{{currentPageNum}}/{{totalPageNum}}</label>
<input class="{{#if reverse}}reverse-range{{/if}}"
       type="range"
       name="slider"
       id="page-slider"
       value="{{alignedCurrentPageNum}}"
       min="1"
       max="{{totalPageNum}}"
       data-highlight="true" />
{{/if}}
<div data-role="navbar">
  <ul>
    <li><button data-role="button" data-icon="file" data-iconpos="bottom">File</button></li>
    <li><button data-role="button" data-icon="dropbox" data-iconpos="bottom">Dropbox</button></li>
    <li><button data-role="button" data-icon="google-drive" data-iconpos="bottom">Google Drive</button></li>
    <li><button data-role="button" data-icon="gear" data-iconpos="bottom">Config</button></li>
  </ul>
</div>
