<div data-role="header" class="ui-corner-top">
  <h1>Help</h1>
</div>
<div data-role="content" class="ui-corner-bottom ui-content">
  <h3>Mouse Operations</h3>
  <dl>
    <dt>left/right click</dt><dd>move page</dd>
  </dl>
  <h3>Keyboard Shortcuts</h3>
  <dl>
    <dt>left/right-arrow key</dt><dd>move page</dd>
    <dt>space</dt><dd>toggle view mode between one-page and two-pages</dd>
    <dt>enter</dt><dd>toggle fullscreen</dd>
  </dl>
  <a href="#" data-role="button" data-inline="true" data-rel="back">OK</a>
</div>
