<div data-role="header" class="ui-corner-top">
  <h1>Config</h1>
</div>
<div data-role="content" class="ui-corner-bottom ui-content">

  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>View mode</legend>
    <input name="radio-choice-h-2"
           id="radio-choice-h-2a"
           value="L2R"
           checked="checked"
           type="radio">
    <label for="radio-choice-h-2a">one page</label>
    <input name="radio-choice-h-2"
           id="radio-choice-h-2b"
           value="R2L"
           type="radio">
    <label for="radio-choice-h-2b">two pages</label>
  </fieldset>

  <fieldset data-role="controlgroup" data-type="horizontal">
    <legend>Page direction</legend>
    <input name="radio-choice-h-2" id="radio-choice-h-2a" value="on" checked="checked" type="radio">
    <label for="radio-choice-h-2a">left to right</label>
    <input name="radio-choice-h-2" id="radio-choice-h-2b" value="off" type="radio">
    <label for="radio-choice-h-2b">right to left</label>
  </fieldset>

  <label>
    <input name="checkbox-0" type="checkbox">Enable Range-Request when reading PDF files
  </label>
</div>
<div data-role="footer" class="ui-bar">
  <div align="right">
    <a href="#"
       data-role="button"
       data-icon="delete"
       data-inline="true"
       data-rel="back"
       style="font-size:16px;">
      Close
    </a>
  </div>
</div>
